* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f7f4ed;
    color: #263a29;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: white;
}

nav h2 {
    color: #315c3b;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #263a29;
}

.hero {
    min-height: 500px;
    display: flex;
    align-items: center;
    padding: 60px 8%;
    background: #dfead7;
}

.hero div {
    max-width: 650px;
}

.small-title {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.hero h1 em {
    color: #6a9b61;
}

.hero p {
    line-height: 1.7;
    margin-bottom: 25px;
}

.button {
    display: inline-block;
    background: #315c3b;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 8px;
}

.plants {
    padding: 70px 8%;
    text-align: center;
}

.plants h2,
.contact h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

.plant-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}

.plant-card {
    width: 280px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.plant-image {
    font-size: 70px;
    padding: 25px;
    background: #e7f0df;
    border-radius: 10px;
    margin-bottom: 20px;
}

.plant-card h3 {
    margin-bottom: 10px;
}

.plant-card p {
    line-height: 1.5;
    margin-bottom: 15px;
}

.contact {
    text-align: center;
    padding: 70px 20px;
    background: #cbdcbc;
}

.contact p {
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #263a29;
    color: white;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 15px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .plant-container {
        flex-direction: column;
        align-items: center;
    }
}